@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Licni Podaci</title>
    <script>
        var username = true;

        function UserCheck() {

            if ($("#KorisnickoIme").val() != "") {
                $.post("@Url.Action("CheckUserAvailability", "Registration")",
                    {
                        userdata: $("#KorisnickoIme").val()
                    },
                    function (data) {
                        if (data == 0) {
                            $("#Status1").html('<font color="Green">Korisnicko ime je slobodno!</font>');
                            $("#KorisnickoIme").css("border-color", "GreenYellow");
                            username = true;
                        } else {
                            $("#Status1").html('<font color="Red">Ovo korisnicko ime je zauzeto!</font>');
                            $("#KorisnickoIme").css("border-color", "Red");
                            username = false;
                        }
                    });
            } else {
                $("#Status1").html('');
                $("#KorisnickoIme").css("border-color", "lightgrey");
                username = true;
            }
        }

        function vratiDatum() {
            var today = new Date();
            var dd = today.getDate();
            var mm = today.getMonth() + 1;
            var yyyy = today.getFullYear();

            if (dd < 10) {
                dd = '0' + dd;
            }

            if (mm < 10) {
                mm = '0' + mm;
            }

            today = yyyy + '-' + mm + '-' + dd;
            document.getElementById("DatumRodjenja").setAttribute("max", today);
        }

        function validateForm() {
            return username;
        }

    </script>

    <style>
        div.row {
            display: flex;
            align-items: center;
        }
    </style>
</head>
<body onload="javascript:vratiDatum()">
    @if (ViewBag.AlertMessage != null)
    {
        if (ViewBag.Uspesno)
        {
            <script type="text/javascript">
                    window.onload = function () {
                        toastr.success("@ViewBag.AlertMessage");
                    };
            </script>
        }
        else
        {
            <script type="text/javascript">
                    window.onload = function () {
                        toastr.error("@ViewBag.AlertMessage");
                    };
            </script>
        }
    }
    <br /><br />
    <div class="col-12 border p-3">
        <table class="table table-striped table-bordered" style="width:100%">
            <thead>
                <tr align="center">
                    <th>Korisnicko ime</th>
                    <th>Ime i prezime</th>
                    <th>Adresa</th>
                    <th>Datum rodjenja</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td align="center">@ViewBag.korisnik.KorisnickoIme</td>
                    <td align="center">@ViewBag.korisnik.Ime  @ViewBag.korisnik.Prezime</td>
                    <td align="center">@ViewBag.korisnik.Adresa</td>
                    <td align="center">@ViewBag.korisnik.DatumRodjenja.ToString("dd/MM/yyyy")</td>
                    <td rowspan="2"><img src="@ViewBag.korisnik.ImagePath" height="100" width="100" asp-append-version="true" /></td>
                </tr>
            </tbody>
        </table>
    </div>
    <br /><br />

    @if (!ViewBag.korisnik.Google)
    {
        <form method="post" action="~/MojNalog/LicniPodaciPromenjeni" enctype="multipart/form-data" onsubmit="return validateForm()">
            <div class="form-group">
                <div class="row">
                    <label class="control-label col-sm-2">Novo korisnicko ime</label>
                </div>
                <div class="row">
                    <div class="col-sm-3">
                        <input class="form-control" type="text" placeholder="Unesite novo korisnicko ime" maxlength="30" id="KorisnickoIme" name="korisnickoime" onchange="UserCheck()" />
                    </div>
                    <label class="control-label col-sm-4" id="Status1"></label>
                </div>
                <br />
                <div class="row">
                    <label class="control-label col-sm-2">Novo ime</label>
                </div>
                <div class="row">
                    <div class="col-sm-3">
                        <input class="form-control" type="text" placeholder="Unesite novo ime" maxlength="20" name="ime" />
                    </div>
                </div>
                <br />
                <div class="row">
                    <label class="control-label col-sm-2">Novo prezime</label>
                </div>
                <div class="row">
                    <div class="col-sm-3">
                        <input class="form-control" type="text" placeholder="Unesite novo prezime" maxlength="30" name="prezime" />
                    </div>
                </div>
                <br />
                <div class="row">
                    <label class="control-label col-sm-2">Nova adresa</label>
                </div>
                <div class="row">
                    <div class="col-sm-3">
                        <input class="form-control" type="text" placeholder="Unesite novu adresu" maxlength="70" name="adresa" />
                    </div>
                </div>
                <br />
                <div class="row">
                    <label class="control-label col-sm-3">Promeni datum rodjenja</label>
                </div>
                <div class="row">
                    <div class="col-sm-3">
                        <input class="form-control" type="date" id="DatumRodjenja" name="DatumRodjenja" min='1899-01-01' />
                    </div>
                </div>
                <br />
                <div class="row">
                    <label class="control-label col-sm-2">Nova slika</label>
                </div>
                <div class="row">
                    <div class="col-sm-3">
                        <input type="file" name="ifile" />
                    </div>
                    <div class="col-sm-4">
                        <label><font color="Red">@ViewBag.Message</font></label>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-sm-3">
                        <input class="btn btn-primary" type="submit" value="Sacuvaj izmene" />
                    </div>
                </div>
            </div>
        </form>
    }
    else
    {
        <form method="post" action="~/MojNalog/LicniPodaciPromenjeni">
            <div class="row">
                <label class="control-label col-sm-2">Nova adresa</label>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <input class="form-control" type="text" placeholder="Unesite novu adresu" maxlength="70" name="adresa" />
                </div>
            </div>
            <br />
            <div class="row">
                <label class="control-label col-sm-3">Promeni datum rodjenja</label>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <input class="form-control" type="date" id="DatumRodjenja" name="DatumRodjenja" min='1899-01-01' />
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-sm-3">
                    <input class="btn btn-primary" type="submit" value="Sacuvaj izmene" />
                </div>
            </div>
        </form>
    }
</body>
</html>