@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Log in or sign up</title>
    <style>
        div.row {
            display: flex;
            align-items: center;
        }
    </style>
    <script>

            var username = true;

            function UserNameCheck() {
                if ($("#korisnickoIme").val() == "") {

                    $("#Status1").html('<font color="Red">Ovo polje mora biti popunjeno!</font>');
                    $("#korisnickoIme").css("border-color", "Red");

                }else{
                    $.post("@Url.Action("CheckUserAvailability", "Registration")",
                    {
                        userdata: $("#korisnickoIme").val()
                    },
                    function (data) {
                        if (data == 0) {

                            $("#Status1").html('<font color="Red">Ovo korisnicko ime ne postoji!</font>');
                            $("#korisnickoIme").css("border-color", "Red");
                            username = false;
                        } else {

                            $("#Status1").html('');
                            $("#korisnickoIme").css("border-color", "lightgray");
                            username = true;
                        }
                    });
                }
            }

            function PasswordCheck() {
                if ($("#lozinka").val() == "") {

                    $("#Status2").html('<font color="Red">Ovo polje mora biti popunjeno!</font>');
                    $("#lozinka").css("border-color", "Red");

                } else {
                    $("#Status2").html('');
                    $("#lozinka").css("border-color", "lightgray");
                }
            }

            function validateForm() {

                var dobro = true;

                if ($("#korisnickoIme").val() == "") {
                    $("#Status1").html('<font color="Red">Ovo polje mora biti popunjeno!</font>');
                    $("#korisnickoIme").css("border-color", "Red");
                    dobro = false;
                } else if (username) {
                    $("#Status1").html('');
                    $("#korisnickoIme").css("border-color", "lightgray");
                }
                if ($("#lozinka").val() == "") {
                    $("#Status2").html('<font color="Red">Ovo polje mora biti popunjeno!</font>');
                    $("#lozinka").css("border-color", "Red");
                    dobro = false;
                } else {
                    $("#Status2").html('');
                    $("#lozinka").css("border-color", "lightgray");
                }

                return (dobro && username);
            }
    </script>
</head>
<body>
    @if (ViewBag.AlertMessage != null)
    {
        if (ViewBag.Uspesno)
        {
            <script type="text/javascript">
                    window.onload = function () {
                        toastr.success("@ViewBag.AlertMessage");
                    };
            </script>
        }
        else
        {
            <script type="text/javascript">
                    window.onload = function () {
                        toastr.error("@ViewBag.AlertMessage");
                    };
            </script>
        }
    }
    <div class="row">
        <div class="col-sm-10"></div>
        <a class="btn btn-success col-sm-2" asp-controller="Registration" asp-action="Index">Registruj se</a>
    </div>
    <br />
    <h2 class="text-info">Ulogujte se:</h2>
    <br />
    <form method="post" action="~/Authentication/Login" onsubmit="return validateForm()">
        <div class="form-group">
            <div class="row">
                <label class="control-label col-sm-2">Korisnicko ime:</label>
                <div class="col-sm-3">
                    <input class="form-control" type="text" value="@ViewBag.Ime" onchange="UserNameCheck()" maxlength="30" placeholder="Unesite korisnicko ime" id="korisnickoIme" name="korisnickoIme" />
                </div>
                <label class="col-sm-4" id="Status1"></label>
            </div>
            <br />
            <div class="row">
                <label class="control-label col-sm-2">Lozinka:</label>
                <div class="col-sm-3">
                    <input class="form-control" type="password" onchange="PasswordCheck()" maxlength="30" placeholder="Unesite lozinku" id="lozinka" name="lozinka" />
                </div>
                <label class="col-sm-4" id="Status2"><font color="Red">@ViewBag.Message</font></label>
            </div>
            <br />
            <div class="row">
                <div class="col-sm-4">
                    <input class="btn btn-primary" type="submit" value="Uloguj se" />
                </div>
                <div class="col-sm-4">
                    <a class="btn btn-outline-danger" asp-controller="Authentication" asp-action="LogInGoogle">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-google" viewBox="0 0 16 16">
                            <path d="M15.545 6.558a9.42 9.42 0 0 1 .139 1.626c0 2.434-.87 4.492-2.384 5.885h.002C11.978 15.292 10.158 16 8 16A8 8 0 1 1 8 0a7.689 7.689 0 0 1 5.352 2.082l-2.284 2.284A4.347 4.347 0 0 0 8 3.166c-2.087 0-3.86 1.408-4.492 3.304a4.792 4.792 0 0 0 0 3.063h.003c.635 1.893 2.405 3.301 4.492 3.301 1.078 0 2.004-.276 2.722-.764h-.003a3.702 3.702 0 0 0 1.599-2.431H8v-3.08h7.545z" />
                        </svg>
                        Sign in with Google
                    </a>
                </div>
            </div>
        </div>
    </form>
</body>
</html>
